/*
font-family: VT323 Regular;
background-color: #E5D3B3;
marquee background-color: #2B2B2B;
*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    background-color: #E5D3B3;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.gameboy {
    background-image: url(../img/gameboy.png);
    background-size:cover;
    width: 510px;
    height: 600px;
    position: relative;
    left: 33vw;
    align-self: flex-end;
    bottom: -20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    border: 1px solid red;
    background-image: url(../img/game-background.svg);
    background-size: cover;
    position: absolute;
    left: 75px;
    top: 104px;
}

#player-img {
    display: none;
}